In [1]:
import psycopg2
import pandas
from pprint import pprint
print("Wariowei Binatari Alvin 18CJ024168")
print("PYTHON WRITTEN SQL QUERY TO FETCH PUT AND MODIFY DATA IN A DATABASE")

Wariowei Binatari Alvin 18CJ024168
PYTHON WRITTEN SQL QUERY TO FETCH PUT AND MODIFY DATA IN A DATABASE

In [4]:
#connect to db
con = psycopg2.connect(
        host = "localhost",
        database="postgres",
        user="postgres",
        password="allow",
        port=5432
)

#cursor
cur=con.cursor()
#CREATE TABLE
create_table = """                  
        create table mytest.gdp(
              code varchar NOT NULL, 
              name varchar NOT NULL, 
              year bigint NOT NULL, 
              year1 bigint NOT NULL, 
              year2 bigint NOT NULL, 
              year3 bigint NOT NULL, 
              year4 bigint NOT NULL, 
              year5 bigint NOT NULL, 
              year6 bigint NOT NULL, 
              year7 bigint NOT NULL, 
              year8 bigint NOT NULL, 
              year9 bigint NOT NULL
         )
     """ #execute query
cur.execute(create_table)

#add values to table (PUT)
def input_values(data):
        try:
                for (index, row) in data.iterrows():
                        insert_sql_query = f'''
                                insert into mytest.gdp (Code, Name, year, year1, year2, year3, year4, year5, year6, year7, year8, year9)
                                values('{row['Code']}'
                                , '{row['Name'].replace("'", " ")}'
                                , '{row['2010']}'
                                , '{row['2011']}'
                                , '{row['2012']}'
                                , '{row['2013']}'
                                , '{row['2014']}'
                                , '{row['2015']}'
                                , '{row['2016']}'
                                , '{row['2017']}'
                                , '{row['2018']}'
                                , '{row['2019']}'
                                )'''

                        cur.execute(insert_sql_query)
        except psycopg2.errors.UniqueViolation:
                print('data already exist, add new data')
                pass
data_csv = pandas.read_csv('GDP.csv')
input_values(data_csv)

#MODIFY
cur.execute("UPDATE mytest.gdp SET year=10504 WHERE Code='ZWE'")
cur.execute("UPDATE mytest.gdp SET year2=5043 WHERE Code='AGO'")
cur.execute("UPDATE mytest.gdp SET year1=10005 WHERE Code='EGY'")
print('Modified items are moved to end of table')

#FETCH
cur.execute("SELECT * from mytest.gdp")
rows=cur.fetchall()
for r in rows:
        print(r)
#DELETE TABLE
cur.execute("DROP TABLE mytest.gdp")
#to apply change
con.commit()
#close crusor
cur.close()
#close connection
con.close()

Modified items are moved to end of table
('DZA', 'Algeria', 2390502793, 2549720670, 2534636872, 2727849721, 2790849162, 2962905028, 2983636872, 3092430168, 3202188607, 214000000000)
('BEN', 'Benin', 592000000000, 671000000000, 728000000000, 821000000000, 851000000000, 761000000000, 691000000000, 684000000000, 742000000000, 795000000000)
('BWA', 'Botswana', 83799496611, 112000000000, 128000000000, 137000000000, 146000000000, 116000000000, 101000000000, 122000000000, 101000000000, 89417190341)
('BFA', 'Burkina Faso', 11926922829, 12890764531, 12319830437, 12776220507, 13228147516, 11386850130, 11861199831, 13019689337, 15156432310, 15400242875)
('BDI', 'Burundi', 3449966857, 3629203786, 3188808943, 3193704343, 3271808157, 2789870188, 2896679212, 3000180750, 3218316013, 3155065488)
('CMR', 'Cameroon', 2300000000000, 2490000000000, 2730000000000, 2790000000000, 2820000000000, 2450000000000, 2400000000000, 2460000000000, 2720000000000, 2760000000000)
('CPV', 'Cape Verde', 290000000000, 351000000000, 375000000000, 390000000000, 403000000000, 358000000000, 357000000000, 386000000000, 422000000000, 417000000000)
('CAF', 'Central African Republic', 424000000000, 530000000000, 546000000000, 552000000000, 526000000000, 595000000000, 558000000000, 644000000000, 525000000000, 452000000000)
('TCD', 'Chad', 9260284938, 10142111334, 10619320049, 11121465767, 11609512940, 10553337673, 10546135160, 11527458566, 12457941907, 13619291361)
('COM', 'Comoros', 573000000, 570000000, 640000000, 638000000, 643000000, 673000000, 671000000, 612000000, 639000000, 648000000)
('COG', 'Congo, Dem. Rep.', 1148700000, 1137637037, 1199948148, 1181448148, 1249733333, 1336692593, 1436585185, 1467977778, 1605944444, 1687533333)
('COD', 'Congo, Rep.', 1150000000000, 1400000000000, 1550000000000, 1580000000000, 1470000000000, 1350000000000, 1210000000000, 1330000000000, 1430000000000, 1390000000000)
('CIV', 'Cote d Ivoire', 392000000000, 431000000000, 409000000000, 430000000000, 442000000000, 382000000000, 396000000000, 416000000000, 455000000000, 445000000000)
('DJI', 'Djibouti', 52909294792, 65951627200, 69683935845, 74164435946, 75244294275, 53074370486, 37867518957, 40865558912, 47112941176, 48174235294)
('GNQ', 'Equatorial Guinea', 481000000000, 523000000000, 496000000000, 522000000000, 535000000000, 462000000000, 476000000000, 502000000000, 543000000000, 535000000000)
('ERI', 'Eritrea', 9535344283, 10693321954, 11141358945, 12517845732, 13284528654, 11388160958, 11821066153, 12701654743, 14262407012, 14391686633)
('ETH', 'Ethiopia', 10109618964, 12080296644, 12561016091, 13444301139, 13943016924, 11832159276, 12833363370, 14106956830, 15890065020, 16178162030)
('GAB', 'Gabon', 115000000000, 129000000000, 133000000000, 150000000000, 173000000000, 195000000000, 221000000000, 250000000000, 274000000000, 303000000000)
('GMB', 'Gambia', 50682061053, 57678241024, 54300857424, 55810138436, 57082011260, 50781996713, 53953897624, 59199447421, 66363422450, 68915416142)
('GHA', 'Ghana', 25713271277, 28776595745, 30749308511, 32539468085, 33387712766, 31050638298, 32234973404, 35473776596, 37801462766, 38652579787)
('GIN', 'Guinea', 10095760000, 10070450000, 10720500000, 10494600000, 11142900000, 11890600000, 11992600000, 12359700000, 12837800000, 13164400000)
('GNB', 'Guinea-Bissau', 17176781046, 18644723854, 17221192466, 18172335776, 18560861389, 16219819017, 16914287349, 18079075771, 20177409351, 20201323260)
('KEN', 'Kenya', 57222490769, 61757788945, 65685102555, 75527984234, 78813839984, 56454734397, 47722657821, 54726595249, 60031262269, 64409647194)
('LSO', 'Lesotho', 1377177100, 1460797903, 1522897506, 1579411253, 1667335061, 1721700991, 1789304088, 1858529677, 1915899787, 1982518541)
('LBR', 'Liberia', 6634526000, 6312691000, 6378188000, 6465756000, 6413988000, 6654541000, 6899911000, 7142316000, 7224329000, 7484113000)
('LBY', 'Libya', 19649631314, 23963033431, 27084497483, 30659338880, 32996188013, 33000198248, 33941126200, 37508642165, 40287647930, 40895322844)
('MDG', 'Madagascar', 2210000000000, 2620000000000, 2470000000000, 2470000000000, 2460000000000, 1800000000000, 1800000000000, 2060000000000, 1920000000000, 1880000000000)
('MWI', 'Malawi', 4530000000, 4657500000, 4610000000, 4677000000, 4696500000, 4715000000, 4830000000, 4978000000, 5086500000, 5209000000)
('MLI', 'Mali', 13707370737, 18525319978, 19047940301, 18093829923, 17098342541, 12930394938, 11400854268, 12128104859, 13567351175, 13469422959)
('MRT', 'Mauritania', 1547991318, 1777101317, 1781281282, 1756215665, 1907090813, 2003598213, 2158972129, 2450364928, 2446866405, 2535657069)
('MUS', 'Mauritius', 12786654498, 15351972361, 14380004175, 14901750991, 15654660710, 13578754072, 15082578065, 16088437675, 16914245098, 16593720656)
('MAR', 'Morocco', 2142591376, 2437982840, 2510126699, 1691544192, 1894813505, 1695825708, 1825018191, 2072349794, 2220978978, 2220307369)
('MOZ', 'Mozambique', 1620000000000, 1790000000000, 1830000000000, 1850000000000, 1810000000000, 1560000000000, 1530000000000, 1650000000000, 1720000000000, 1740000000000)
('NAM', 'Namibia', 34936305297, 36693712825, 36302305578, 42760237561, 35363533866, 45814637971, 47964234560, 51588158718, 58011466451, 58539424930)
('NER', 'Niger', 27507499709, 30630912185, 30155064574, 33728622819, 36386546918, 32210232912, 33814337900, 36098550142, 39973839065, 39670977333)
('NGA', 'Nigeria', 361000000000, 405000000000, 456000000000, 509000000000, 547000000000, 487000000000, 405000000000, 376000000000, 397000000000, 448000000000)
('RWA', 'Rwanda', 13135580695, 15634897273, 17693924573, 17953617927, 17889079958, 11885478502, 10215989995, 11090177747, 13670036996, 12750339023)
('STP', 'Sao Tome and Principe', 287000000000, 335000000000, 371000000000, 382000000000, 381000000000, 293000000000, 283000000000, 312000000000, 334000000000, 323000000000)
('SEN', 'Senegal', 907978724, 1023086184, 1015843369, 1116224161, 1149587652, 966029542, 1012835518, 1077439663, 1188797575, 1192559739)
('SYC', 'Seychelles', 1664310770, 1865915544, 1741809809, 1850470042, 1859898513, 1596800287, 1662998678, 1768319144, 1966503223, 1981845741)
('SLE', 'Sierra Leone', 37658614803, 42762617082, 47231651863, 50949672206, 52016408951, 56441917653, 58847016045, 60516043590, 62420165100, 64072870932)
('SOM', 'Somalia', 64524447018, 69668271733, 72051115324, 73345409464, 74470922980, 73243299833, 69598702058, 71693634217, 75312833438, 76173669481)
('ZAF', 'South Africa', 417000000000, 458000000000, 434000000000, 401000000000, 381000000000, 347000000000, 324000000000, 381000000000, 405000000000, 388000000000)
('SSD', 'South Sudan', 413000000000, 3038699609, 3131096089, 3147616201, 3158406034, 3151910782, 3122287933, 3116610112, 3127908045, 3101787709)
('SDN', 'Sudan', 4156990760, 4186223809, 4291159006, 4405954638, 4563017881, 4708336733, 4909498980, 5166467299, 5522625585, 5935769351)
('SWZ', 'Swaziland', 25732432719, 27565469098, 24978513427, 23900872626, 23156850007, 19842404305, 20953442550, 22870833710, 25522671233, 25758357775)
('TZA', 'Tanzania', 7851191899, 8772951262, 9426913349, 10224897935, 10862944204, 9683867894, 10398862245, 11185102400, 12808660528, 12916455161)
('TGO', 'Togo', 361000000000, 405000000000, 456000000000, 509000000000, 547000000000, 487000000000, 405000000000, 376000000000, 397000000000, 448000000000)
('TUN', 'Tunisia', 417000000000, 458000000000, 434000000000, 401000000000, 381000000000, 347000000000, 324000000000, 381000000000, 405000000000, 388000000000)
('UGA', 'Uganda', 20265559484, 23459515276, 25503060420, 28037239463, 27141023558, 21251216799, 20958412538, 25873601261, 26311590297, 23308667781)
('ZMB', 'Zambia', 20265559484, 23459515276, 25503060420, 28037239463, 27141023558, 21251216799, 20958412538, 25873601261, 26311590297, 23308667781)
('ZWE', 'Zimbabwe', 10504, 14101920300, 17114849900, 19091020000, 19495519600, 19963120600, 20548678100, 17584890937, 18115543791, 19284289739)
('AGO', 'Angola', 847000000000, 943000000000, 5043, 964000000000, 984000000000, 919000000000, 872000000000, 984000000000, 1010000000000, 1010000000000)
('EGY', 'Egypt', 2032135247, 10005, 2333308099, 2451625333, 2705783272, 3104394858, 2732808557, 2748180474, 2668495743, 2631434363)